//Principale
$blanc : #fff;
$noir : #000;

//Couleur
$couleur1 : #A4F9C8;
$couleur2 : #0A7131;
$couleur3 : #3B341F;
$couleur4 : #FCAB64;
$couleur5 : #FCD29F;

// Taille dimensions
$basicPadding : 10px;

$theme1-1 :#dedede;
$theme1-2 :#9d9d9d;
$theme1-3 :#959595;
$theme1-4 :#2d2d2d;
$theme1-5 :#202020;

// Favoris
$fav1 : #C10047;
$fav2 : #FF4589;
$fav3 : #00FA9A;
$fav4 : #DE4362;